# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Virtual environments
# ============================
.env
.venv/
venv/

# ============================
# Streamlit
# ============================
.streamlit/

# ============================
# OS / IDE
# ============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ============================
# Large media files
# ============================
# Ignore all videos EXCEPT demos tracked by Git LFS
*.mp4
*.mov
*.avi
*.mkv

!assets/**/cci_demo.mp4
!assets/**/creditTic_demo.mp4
!assets/**/sm_demo.mp4


# ============================
# Logs & temp files
# ============================
*.log
*.tmp
