# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Virtual environments
# ============================
.env
.venv/
venv/

# ============================
# Streamlit
# ============================
.streamlit/

# ============================
# OS / IDE
# ============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ============================
# Large media files (do NOT push)
# ============================
*.mp4
*.mov
*.avi
*.mkv

# ============================
# Logs & temp files
# ============================
*.log
*.tmp
